/* RECUERDO DE LA FONTS SELECCIONADAS PARA TODO
font-family: 'Alata', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Kavivanar', cursive;
font-family: 'Lexend Zetta', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cinzel+Decorative:wght@400;700;900&family=Kavivanar&family=Lexend+Zetta:wght@300;400;500;600;700;800&display=swap');
/* RESET */
* {
    padding: 0;
    margin: 0;
}
/* Para todos los Button Dry */

button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 1em;
    border: 1px solid rgb(138, 43, 226);
    box-shadow: 2px 2px 10px rgb(138, 43, 226);
    color:rgb(240, 240, 240);
    background-color: rgb(138, 43, 226);
}

button:hover {
    color: rgb(138, 43, 226);
    background-color: rgb(240, 240, 240);
}
/*  */
header {
    height: 100px;
    background: blueviolet;
    padding: 0, 50px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-header {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7em;
    padding-left: 20px;
    
}
header a {
    font-family: 'Verdana';
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    padding: 0;
    /* transition: 0.4s; */
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0,4s;
}

.mostrar-menu { 
    order:1;
}

.header-nav a:hover, .mostrar-menu:hover, .esconder-menu:hover {
    color: rgb(0, 0, 0);
}

#check {
    display: none;
}

/* Responsive */
@media(max-width:576px){
    /* Header */
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .header-nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: blueviolet;
        right: -100%;
        top:0;
        text-align: center;
        padding: 100px 0;
        z-index:100;
        transition: 0.8s;
        }
    .header-nav a {
        display:block;
        padding: 20px;
    }
    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
        
    }
    #check:checked ~ .header-nav{
        right: 0;
    }
}
#Inicial {
    display: flex;
    flex-direction: column;
    height: 15vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image:url(../img/1920-hombre-sosteniendo-una-mancuerna-en-un-gimnasio-con-fila-de-mancuernas-en-el-fondo.jpg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

#Inicial h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: 'Alata';
    color: #fff;
}
#Inicial button {
    color: blueviolet;
    background-color: white;
}
#Inicial button:hover {
    background-color: blueviolet;
    color: white;
}

/* Productos ahora */

#Productos {
    padding-bottom: 10px;
    font-family: 'Lexend Zetta';
    justify-content: center;
}
#Productos h3 {
    padding: 20px;
    justify-content: center;
    text-align: center;
}

#Productos p {
    text-align: center;
}
.titulo-Productos {
    text-align: center;
    margin: 20px;
    font-family: 'Alata';
    font-size: 1.2em;
}
.contenedor-cards {
    display: flex;
    flex-direction: column;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.box button {
    margin-top: 20px;
}
.img1 {
    width: 200px;
    height: 5%vh ;
}
.img2 {
    width: 200px;
    height: 5%vh ;
}
.img3 {
    width: 200px;
    height: 5%vh ;
}
.img4 {
    width: 200px;
    height: 5%vh ;
}
.img5 {
    width: 200px;
    height: 5%vh ;
}
.img6 {
    width: 200px;
    height: 5%vh ;
}




footer{
    background-color: #ab43d4;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.redes a:hover {
    color: blueviolet;
    transition: 1s;
}