/* RECUERDO DE LA FONTS SELECCIONADAS PARA TODO
font-family: 'Alata', sans-serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Kavivanar', cursive;
font-family: 'Lexend Zetta', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cinzel+Decorative:wght@400;700;900&family=Kavivanar&family=Lexend+Zetta:wght@300;400;500;600;700;800&display=swap');


